html,body{height:100%;margin:0;overflow:hidden;padding:0}
body{background:#000;font-family:sans-serif}
img{display:block;width:100%}
figure{margin:0;padding:0}
ul{list-style:none;margin:0;padding:0}

*{-webkit-tap-highlight-color:rgba(0,0,0,0)}

.x-video-title,.x-youkulogo{display:none!important}

section{height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:100%;width:100%}
section.on{opacity:1;top:0;-webkit-transition:opacity .4s linear}
section.off{-webkit-transition:opacity .4s linear;opacity:0}
section.in{opacity:1;top:0;-webkit-transition:top 1s ease}
section.out{top:-100%;-webkit-transition:top 1s ease}
section.back{opacity:1;top:100%;-webkit-transition:top 1s ease}

.logo{left:4.6%;pointer-events:none;position:absolute;top:3.8%;width:18.933%;z-index:98}

.hf{top:50%!important;-webkit-transform:translateY(-50%)}

.outer{height:100%;overflow:hidden;position:relative}

.stage{overflow:hidden}
.stage canvas{position:relative;width:100%}

section>.wrap{left:0;position:absolute;top:50%;width:100%;-webkit-transform:translateY(-50%)}

div.close{position:absolute}
div.close .block{height:26px;width:26px!important}
div.close .block span::before,div.close .block span::after{background:#fff;content:"";height:14px;left:10px;position:absolute;top:4px;width:2px;
    -webkit-transform:rotate(-45deg)}
div.close .block span::after{-webkit-transform:rotate(45deg)}

.row{position:absolute;-webkit-transition:-webkit-transform .4s ease-in .3s}
.row>.key{margin-bottom:9px}
.row-1{left:65.2%;}
.row-2{left:53.733%}
.row-3{left:42.267%}
.row-4{left:30.8%}

.key{background:#000;position:relative;-webkit-touch-callout:none;-webkit-user-select:none;user-select:none;-webkit-perspective:150px}
.key .block{box-shadow:-5px 5px 0 #000;color:#000;font:bold 14px/27px Arial,Helvetica,sans-serif;height:30px;left:100%;position:relative;text-align:center;width:30px;z-index:2;
    -webkit-transform-origin:0 0;-webkit-transform:rotate(90deg);-webkit-transform-style:preserve-3d}
.key span{background:#fff;border:solid 2px #000;box-sizing:border-box;display:block;height:100%;position:absolute;width:100%;z-index:1}
.key b{background:#ababab;border:solid 2px #000;box-sizing:border-box;display:block;height:100%;position:absolute;width:100%;
    /*-webkit-transform:rotateX(-180deg);-webkit-transition:-webkit-transform .4s ease-in-out*/}
.key b::before{background:#bdbdbd;content:"";height:1.5px;left:0;position:absolute;top:50%;width:100%;-webkit-transform:translateY(-50%)}
.key b::after{background:url(../img/icon-question.png) no-repeat center;background-size:6px;content:"";height:100%;left:0;position:absolute;top:0;width:100%}
.key-func .block{font-size:12px;font-weight:normal}
.key>i{background:#000;height:100%;left:-5px;pointer-events:none;position:absolute;top:-5px;width:100%}
.key .block::before,.key .block::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 5px 5px;
    border-color: transparent transparent #000 transparent;
    position: absolute;
    right: 100%;
    top: 0;
}
.key .block::after{
    border-width: 5px 5px 0 0;
    border-color: #000 transparent transparent transparent;
    left: auto;
    right: 0;
    top: 100%;
}
.key .block img{display:inline-block;height:16px;vertical-align:text-top;width:auto}
.key-arrow .block>span::after,.key-arrow-dark .block>span::after{background:url(../img/key-arrow.png) no-repeat right center;background-size:auto 9px;content:"";display:inline-block;height:9px;margin-left:5px;width:9px}
.key-arrow-dark .block>span::after{background-image:url(../img/key-arrow-dark.png)}
.key:active{-webkit-transform:translate(-3px,-3px)}
.key:active .block{box-shadow:-2px 2px 0 #000}
.key:active .block::before{border-width:0 0 2px 2px}
.key:active .block::after{border-width:2px 2px 0 0}
.key-default .block{box-shadow:-5px 5px 0 #fff}
.key-default .block>span{background:#000;border-color:#fff}
.key-default .block::before{border-color:transparent transparent #fff transparent}
.key-default .block::after{border-color:#fff transparent transparent transparent}
.key-default:active .block{box-shadow:-2px 2px 0 #fff}
.key-active .block>span,.key-holder .block>span,.key-primary .block>span{background:#0c87c7;color:#fff}
.key-active:active,.key-disabled:active,.key-holder:active{-webkit-transform:none}
.key-active:active .block,.key-disabled:active,.key-holder:active .block{box-shadow:-5px 5px 0 #000}
.key-active:active .block::before,.key-disabled:active .block::before,.key-holder:active .block::before{border-width:0 0 5px 5px}
.key-active:active .block::after,.key-disabled:active .block::after,.key-holder:active .block::after{border-width:5px 5px 0 0}
.key-danger .block>span{background:#b43838;color:#fff}
.key-danger .block>b{background:#b43838}
.key-danger .block>b::before{display:none}
.key-disabled:active .block{box-shadow:-2px 2px 0 #000}
.key-disabled .block>span{background:#c3c3c3;color:#808080}
.key-holder{background:none;height:30px;width:30px}
.key-holder .block{display:none}
.key-holder::before{background:url(../img/key-holder.png) no-repeat center;background-size:100%;bottom:0;content:"";height:35px;opacity:.2;position:absolute;right:0;width:35px;
    -webkit-transition:opacity .2s linear}
.key-hover::before{opacity:1}
.key .hand{left:65%;opacity:0;position:absolute;top:65%;width:29px;z-index:3}
.key-hand{z-index:3}
@-webkit-keyframes falling {
    0%{left:350px}
  100%{left:-350px}
}
.key-fall{z-index:2}
.key-fall .block{display:block;-webkit-animation:falling 3s linear both}
@-webkit-keyframes zoomin {
    0%{-webkit-transform:scale(1)}
  100%{-webkit-transform:scale(1.2)}
}
.key-zoom{-webkit-animation:zoomin .2s ease-out reverse}
@-webkit-keyframes flash {
  25%,75%{opacity:.2}
  0%,50%,100%{opacity:1}
}
@-webkit-keyframes hiding {
    0%{opacity:1}
  100%{opacity:0}
}
@-webkit-keyframes hand-move {
  100%{-webkit-transform:translate(20%,20%)}
}
.key-flash .block>span{-webkit-animation:flash 3s linear infinite}
.key-flash .block>b{background:#fff}
.key-flash .block>b::before,.key-flash .block>b::after{display:none}

.hint-animate .key-H::before{-webkit-animation:flash 2s linear infinite}
.hint-animate .hand{opacity:1;-webkit-animation:hand-move .3s linear infinite alternate both;-webkit-transition:opacity .2s linear .4s}

.bgm{bottom:3.648%;position:absolute;right:6.933%}
.bgm .key .block .off,.bgm-mute .key .block .on{display:none}
.bgm .key .block>span{background:#0c87c7}
.bgm-mute .key .block .off{display:block}
.bgm-mute .key .block>span{background:#c3c3c3}
.bgm .key .block{height:24px;width:24px}
.bgm .key .block img{display:block;height:auto;width:100%}

@-webkit-keyframes bg-ani {
    0%{opacity:0}
  100%{opacity:1}
}
.home{background:url(../img/bg1.jpg) no-repeat center;background-size:cover}
.home .bg>div{background-repeat:no-repeat;background-position:center;background-size:cover;height:100%;left:0;position:absolute;top:0;width:100%}
.home .bg2{background-image:url(../img/bg2.jpg);-webkit-animation:bg-ani 2.1s steps(2) infinite}
.home .bg3{background-image:url(../img/bg3.jpg);-webkit-animation:bg-ani 1.8s steps(2) .3s infinite}
.home .bg4{background-image:url(../img/bg4.jpg);-webkit-animation:bg-ani 1.5s steps(2) .6s infinite}
.home .bg5{background-image:url(../img/bg5.jpg);-webkit-animation:bg-ani 1.2s steps(2) .9s infinite}
.home .bg6{background-image:url(../img/bg6.jpg);-webkit-animation:bg-ani .9s steps(2) 1.2s infinite}
.home .bg7{background-image:url(../img/bg7.jpg);-webkit-animation:bg-ani .6s steps(2) 1.5s infinite}
.home .bg8{background-image:url(../img/bg8.jpg);-webkit-animation:bg-ani .3s steps(2) 1.8s infinite}
.home .title{position:absolute;right:24%;width:100%}
.home .title img{opacity:0;position:absolute;-webkit-transition:-webkit-transform .4s ease-out,opacity .2s ease-in}
.home .title .left,.home .title .left img{bottom:0}
.home .title .mask>img{right:0;width:31.733%;-webkit-transform:translate(-8.716px,-100px)}
.home .title .mask>.right{-webkit-transform:translate(8.716px,100px)}
.home .title .line>div{height:0;overflow:hidden;position:absolute;-webkit-transition:height .4s ease .6s}
.home .title .line img{opacity:1;-webkit-transition:none}
.home .title .line>.left{;margin-bottom:35.867%;right:30.533%;width:2.8%}
.home .title .line>.right{margin-top:38.533%;right:20.133%;width:3.2%}
.home .title .sub>img{right:29.733%;width:7.733%;-webkit-transform:translate(-8.716px,-100px);-webkit-transition-delay:.3s}
.home .title .sub>.right{margin-top:1.733%;-webkit-transform:translate(8.716px,100px)}
.home .title .light{bottom:0;margin-bottom:-32%;right:16%;width:48.667%}

.home-ani .title img{opacity:1;-webkit-transform:none!important}
.home-ani .title .line>div{height:100px}

.home .title .mask .blue{background:#0c87c7;height:1000px;-webkit-mask:url(../img/title-left.png) no-repeat center;position:absolute;right:22%;width:50%;-webkit-transform:rotate(-1.8deg) translateY(-50%)}
.home .wrap{left:22.133%;opacity:0;position:absolute;-webkit-transition:opacity .4s linear 1s}
.home-ani .wrap{opacity:1}

@-webkit-keyframes indicator {
  50%{opacity:0}
  0%,100%{opacity:1}  
}
.keyboard{background:url(../img/bg-game1.jpg) no-repeat center;background-size:cover}
.keyboard .display{opacity:0;position:absolute;right:13%;-webkit-transition:opacity .4s linear .6s}
.keyboard .display .lock{margin-bottom:6px;width:27px}
.keyboard .display li{border-left:solid 1px #fff;box-sizing:border-box;color:#fff;height:26px;margin-bottom:3px;position:relative}
.keyboard .display li span{display:none;font-size:23px;left:50%;position:absolute;top:50%;-webkit-transform:translate(-50%,-50%) rotate(90deg)}
.keyboard .display li.input{-webkit-animation:indicator .4s infinite}
.keyboard .display li.filled{border:0;-webkit-animation:none}
.keyboard .display li.filled span{display:block}
.keyboard .hint{left:15.6%;opacity:0;position:absolute;width:18px;-webkit-transition:opacity .4s linear .6s}
.keyboard.level2 .hint{left:8.1%}
.keyboard.level5 .key .block{background:#fff}
.keyboard.level5 .key .block>span{-webkit-transition:-webkit-transform .4s ease-in-out}
.keyboard.level5 .key .block>span,.keyboard.level5 .key .block>b{backface-visibility:hidden}

@-webkit-keyframes in-up {
    0%{-webkit-transform:translateY(-100%)}
  100%{-webkit-transform:none}
}
@-webkit-keyframes in-bottom {
    0%{-webkit-transform:translateY(100%)}
  100%{-webkit-transform:none}
}

.keyboard .drag{left:15.733%;opacity:0;position:absolute;z-index:1;-webkit-transition:opacity .4s linear .6s}
.keyboard .drag li{height:30px;margin:10px 0}
.keyboard .drag li .key{-webkit-transform:translate3d(0,0,0)}
.keyboard .drag li .back{-webkit-transition:-webkit-transform .4s ease-in-out}
.keyboard.level1 .drag,.keyboard.level3 .drag,.keyboard.level4 .drag,.keyboard.level5 .drag{display:none}

.keyboard-in .display,.keyboard-in .hint,.keyboard-in .drag{opacity:1}
.keyboard-in .row-1,.keyboard-in .row-3{-webkit-animation:in-up .6s ease-in-out .2s backwards}
.keyboard-in .row-2,.keyboard-in .row-4{-webkit-animation:in-bottom .6s ease-in-out .2s backwards}
.keyboard-out .display,.keyboard-out .hint,.keyboard-out .drag{opacity:0;-webkit-transition-delay:0s}
.keyboard-out .row-1,.keyboard-out .row-2{-webkit-animation:none;-webkit-transform:translateX(300px)}
.keyboard-out .row-3,.keyboard-out .row-4{-webkit-animation:none;-webkit-transform:translateX(-300px)}

.keyboard-small .keyboard .key .block{font-size:12px;height:24px;line-height:21px;width:24px}
.keyboard-small .keyboard .key .block>span{overflow:hidden}
.keyboard-small .keyboard .key-holder{height:24px;width:24px}
.keyboard-small .keyboard .key-holder::before{height:29px;width:29px}

section.player{z-index:3;-webkit-transition:none}
section.player.on{-webkit-transition:opacity .4s linear}
.player .close{bottom:3.648%;right:6.933%;top:auto;z-index:3}
#ykplayer{position:absolute;left:100%;top:0;-webkit-transform-origin:0 0;-webkit-transform:rotate(90deg)}
.player>video{background:#000;height:100%;width:100%}
.player .button{background:url(../img/icon-play.png) no-repeat center;background-size:60px;height:100%;left:0;position:absolute;top:0;width:100%}
.player .ykplayer .x-video-poster{background-repeat:no-repeat;background-position:center;background-size:cover}
.player .ykplayer .x-iconmode-new{background:url(../img/icon-play.png) no-repeat center;background-position:center!important;background-size:60px;-webkit-transform:rotate(-90deg)}

.ending{background:url(../img/bg-ending1.jpg) no-repeat center #000;background-size:cover;-webkit-transition:none!important}
section.ending.on{-webkit-transition:none}
section.ending.off{-webkit-transition:opacity .4s linear!important}
.ending .wrap{left:50%;margin-left:-79px;padding-left:5px;width:158px}
.ending .title{left:152px;position:absolute;width:26px}
.ending .title .decode{margin-top:12px}
.ending .number{margin-bottom:6px;position:relative}
.ending .number img{position:relative;-webkit-transform-origin:center left}
.ending .number .next{display:none;left:0;position:absolute;top:0;-webkit-transform:scale(1.4)}
.ending .copy{left:106px;opacity:0;position:absolute;width:24px}

@-webkit-keyframes rolling {
    0%{-webkit-transform:rotateX(90deg)}
  100%{-webkit-transform:rotateX(0deg)}
}
.ending .copy ul{margin-bottom:6px}
.ending .copy li{height:26px;margin-bottom:2px;position:relative;-webkit-perspective:120px}
.ending .copy li div{position:absolute;top:0;-webkit-transform-style:preserve-3d}
.ending .copy li span{background:#0c87c7;border:solid 1px #fff;color:#fff;display:block;font:bold 16px Arial,Helvetica,sans-serif;height:23px;line-height:24px;overflow:hidden;text-align:center;width:24px;
    -webkit-transform:rotate(90deg)}
.ending .copy .feature{margin:0 auto;width:21px}
.ending .slogan{left:70px;opacity:0;position:absolute;width:24px}
.ending .btns{opacity:0}
.ending .btns .key{margin:40px 0}

.ending-ani .current{-webkit-animation:zoomin .2s ease-out .4s both}
.ending-ani .next{-webkit-animation:zoomin .3s ease-in .2s reverse forwards}
.ending-ani .copy,.ending-ani .slogan{opacity:1;-webkit-transition:opacity .4s linear .8s}
.ending-ani .copy li div{-webkit-animation:rolling .6s ease-out alternate 1.4s}
.ending-ani .copy li:nth-child(2) div{-webkit-animation-delay:1.6s}
.ending-ani .copy li:nth-child(3) div{-webkit-animation-delay:1.8s}
.ending-ani .copy li:nth-child(4) div{-webkit-animation-delay:2s}
.ending-ani .copy li:nth-child(5) div{-webkit-animation-delay:2.2s}
.ending-ani .copy li:nth-child(6) div{-webkit-animation-delay:2.4s}
.ending-ani .btns{-webkit-transition:opacity .4s linear .2s}

.td{background:url(../img/bg-td.jpg) no-repeat center;background-size:cover;z-index:99}
.td .close{right:25px;top:25px}
.td .key .block{box-shadow:-5px 5px 0 #000;left:0;width:116px;-webkit-transform:none}
.td .key:active{-webkit-transform:translate(-3px,3px)}
.td .key:active .block{box-shadow:-2px 2px 0 #000}
.td .key:active .block::before{border-width:0 0 2px 2px}
.td .key:active .block::after{border-width:2px 2px 0 0}
.td .wrap{text-align:center;top:78%}
.td .title{margin:0 auto 20px;width:27.067%}
.td .field{margin-bottom:10px}
.td .field label{display:inline-block;line-height:30px;margin-right:10px;width:57px}
.td .field label>img{display:inline-block;vertical-align:middle}
.td .field input{background:#fff;border:solid 2px #000;border-radius:0;box-shadow:none;box-sizing:border-box;font-size:14px;height:30px;padding:4px;width:188px}
.td .btns{margin-top:30px}
.td .btns .key{display:inline-block;margin:0 8px}

.ol-share{background:rgba(0,0,0,.85);display:none;height:100%;left:0;position:absolute;top:0;width:100%;z-index:2}
.ol-share img{position:absolute;right:10px;top:25px;width:54.667%}

@media screen and (max-width: 359px) {
}
@media screen and (orientation:landscape) and (min-width:420px) {
  html, body {
    background: url(../img/orientation.jpg) no-repeat center 40% #000;
    background-size: 16%;
    height: 100%;
  }

  .outer, .hint {
    display: none;
  }
}